RFC 2616 (HTTP/1.1) ist obsolet

RFC 7230 bis RFC 7235 haben RFC 2616 abgelöst:
http://www.heise.de/newsticker/meldung/Spezifikation-des-HTTP-1-1-Protokolls-neu-aufgeschrieben-2217866.html

Entsprechend sind auf dieser Seite sechs "obsoleted by"-Links zu finden:
http://tools.ietf.org/html/rfc2616
